<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"></meta>
    <title>缓存测试</title>
</head>
<body>

<ul>
    <li><a href="/cache/cache1" target="_blank">1. 测试Ehcache缓存cache1 (使用自定义Key)</a></li>
    <li><a href="/cache/cache2" target="_blank">2. 测试Redis缓存cache2</a></li>
    <li><a href="/cache/cache3" target="_blank">3. 测试Ehcache缓存cache3 (使用KeyGenerator)</a></li>
    <li><a href="/cache/refreshCache" target="_blank">4. 刷新缓存</a>, <a href="/cache/cache2" target="_blank">cache2</a> 会更新</li>
    <li><a href="/cache/refreshAll" target="_blank">5. 刷新所有缓存</a></li>
</ul>

</body>
</html>